body{
    margin: none;
    max-height: 100vh;
    background-color: rgb(75, 235, 232, .6);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-rating{
    width: 40vw;
    min-height: 75vh;
    margin: 8vh auto;
    background-color: rgb(68, 177, 229);
    text-align: center;
    border-radius: 5px;
}

.question{
    font-weight: normal;
    padding: 1rem 0;
    font-size: 1.5rem;
    background-color: rgb(106, 189, 235);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px 5px 0 0;
}

.question-container{
    height: 60%;
}

#image-statement{
    
    border-radius: 5px;
    height: 40vh;
    width: 90%;
    object-fit: cover;
}

.answer-container{
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    margin: 4% auto;
}

.cat-container {
    width: 25%;
}

#hiss,
#meow,
#prrr{
    width: 100%;
    height: 100%;
    background-color: white;
    margin: none;
    border-radius: 5px;
}

.cat-text{
    margin: .2rem auto 3rem auto;
    font-weight: lighter;
    font-size: 1.2rem;

}

.cat-button {
    padding: 0;
    border: none;
    border-radius: 5px;
}

.cat-button:active{
    border: 1px solid grey;
}
