body{
    margin: none;
    height: 100vh;
    background-color: rgb(75, 235, 232, .6);
    color: white;
}

h1{
    color: red
}


.card-rating{
    width: 40vw;
    height: 80vh;
    margin: 10vh auto;
    background-color: rgb(68, 177, 229);
    text-align: center;
}
.question-container{
    height: 50%;
}

#image-statement{
    height: 80%;
    width: 80%;
    object-fit: cover;

}

.answer-container{
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    margin: 0 auto;
}

.cat-container {
    width:25%;
}

#hiss,
#meow,
#prrr{
    width: 100%;
    height: 100%;
    background-color: white;
    margin: none;
}

.cat-button {
    padding: 0
}
